.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
experiments/outputs/*
!experiments/outputs/.gitkeep

*.log
*.lp
*.mps
*.sol
